#root {
  /*margin: auto;*/
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100vh;
  /*display: block;*/
  /*margin: 0*/
  display: flex;
  /*place-items: center;
  align-items: center;
  justify-items: center;*/
  min-width: 320px;
  min-height: 100vh;
  /*background-color: #3d3d3fc9;*/
  -webkit-animation: random 15s infinite;
  animation: random 15s infinite;
}

@keyframes random {
  15% { background-color: rgb(57, 56, 73);} 
  30% { background-color: rgb(27, 26, 134)} 
  45% { background-color: rgb(47, 147, 165);}
  60% { background-color: rgb(58, 163, 72)} 
  75% { background-color: rgb(112, 27, 151)} 
  }

.App {
  margin: auto;
}

@media only screen and (max-width: 300px) {
  .App {
    width: 300px;
    height: auto;
  }
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/